#post_general_image {
    display: flex;
    width: 100%;
}
#post_general_image img {
    height: 250px;
    width: 65%;
    object-fit: cover;
}

#post_general_image div {
    width: 35%;
    background-color: #ECE4D6;
    text-align: center;
}
#post_general_image div span {
    position: relative;
    font-size: 300%;
    top: 90px;
}

@media (max-width: 900px) {
    #post_general_image {
        flex-direction: column;
    }
    #post_general_image div {
        width: 100%;
        height: 100px;
    }
    #post_general_image div span {
        position: relative;
        top: 15px;
        font-size: 50px;
    }
    #post_general_image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    @media (max-width: 700px) {
        #post_general_image div {
            width: 100%;
            height: 70px;
        }
        #post_general_image div span {
            position: relative;
            top: 10px;
            font-size: 40px;
        }
    }


}




#posts {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

.post {
    padding: 3%;
    width: 33%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease; /* Smooth animation */
}

.post:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow */
    transform: scale(1.05);
    animation-duration: 1s;
}

.post span {
    padding: 10px;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100;
  }

.post .price {
    color: rgb(50, 50, 50);
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100;

}
@media (max-width: 750px) {
    .post {
      width: 49.5%;
    }
}

@media (max-width: 480px) {
    .post {
      width: 99%;
    }
}
  













/* #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 1rem;
}

.product {
    width: 300px; 
    max-width: 90vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}




.product > * {
    width: 100%; 
}


.product img {
    align-self: center;
}


@media (max-width: 600px) {
    .product {
      width: 90%;
    }
}
  