/* basket div3---------------------------------- */
.basket-item {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .basket-item img {
    width: 80px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex: 1;
    display: flex;
  }
  .basket_item_det {
    display: flex;
    flex-direction: column;
  }
  
  .item-name {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .item-price {
    font-size: 14px;
    color: #333;
  }
  
  .item-qty {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
  }
  
  .qty-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    background: #eee;
    border: none;
    cursor: pointer;
  }
  
  .qty-value {
    min-width: 20px;
    text-align: center;
  }
  
  .remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    padding: 0;
  }