#product {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}



#product-photos {
    width: 40%;
    height: 80vh;
    margin-right: 15px;
}

#product-details {
    width: 60%;
}

#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    align-items: center;   /* Vertical center */
    justify-content: center; /* Horizontal center */
    gap: 10px; /* Space between buttons and image */
    overflow: hidden;
    object-fit: cover;
}

#slider img {
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}
.nav-btn.left { left: 10px; }
.nav-btn.right { right: 10px; }
.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.thumbnails img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.thumbnails img.active {
    border-color: #d38f12;
}
#product-details p {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;   /* Bold */
    font-size: 60px;    /* Adjust size as needed */
    line-height: 1.1;   /* Tight spacing like in image */
    color: #222;      
}
.price {
    font-size: 24px;
    color: #222;
    margin-top: 10px;
}
.description {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}
#price-add{
    display: flex;
    justify-content: space-between;
}

#product-add{
    padding: 5px 10px;
    color: #fff;
    background-color: #212121;
    border-radius: 2%;
}
 
/* Responsive Design */
@media (max-width: 600px) {
    .nav-btn {
        display: none;
    }

    #product {
        display: block;
    }
    #product-photos{
        width: 100%;
        height: 50vh;
    }
    #product-details {
        width: 100%;
    }


    #slider img {
        margin-top: 10px;
        width: 100%;
        /* max-height: 365px; */
        object-fit: cover;
        display: block;
    }
    .thumbnails img {
        width: 60px;
        height: 60px;
    }
    


    #product-details p {
        margin-top: 10px;
        margin-bottom: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 800px;   /* Bold */
        font-size: 40px;    /* Adjust size as needed */
        line-height: 1.1;   /* Tight spacing like in image */
        color: #222;      
    }

    .description {
        margin: 15px 0;
        font-size: 18px;
        text-align: center;
    }
}
